[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
langchain = "*"
botocore = "*"
streamlit = "*"
python-dotenv = "*"
angchain-community = "*"

[dev-packages]

[requires]
python_version = "3.10"
